{{page-title "Select a Location"}}

<div class="flex flex-wrap -m-4">
  {{#each this.model as |location|}}
    <Card
      @location={{location}}
      @handleClick={{this.handleLocationSelect}}
    />
  {{/each}}
</div>